aiohttp>=3.7.4
anyio==3.3.1
async-lru==1.0.2
async-timeout==3.0.1
attrs==21.2.0
bs4
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
dnspython
emoji-country-flag
humanize
h11==0.12.0
h2==4.0.0
heroku3
hpack==4.0.0
httpcore==0.13.7
httpx==0.19.0
hyperframe==6.0.1
idna==3.2
meval==2.5
multidict==5.1.0
motor
Pillow==8.3.2
pyaes==1.6.1
pyrogram==1.2.11
PyroMod
PySocks==1.7.1
python-dotenv==0.19.0
pymongo
pytube
python-rapidjson
requests==2.26.0
rfc3986==1.5.0
sniffio==1.2.0
search_engine_parser
speedtest-cli
telegraph
tracemoepy
TgCrypto==1.2.2
typing-extensions==3.10.0.2 
urllib3==1.26.7
yarl==1.6.3
youtube_search
youtube-search-python
wget
gpytranslate
yt-dlp==2022.1.21
